services:
  frontend:
    build:
      context: .
      args:
        VITE_API_BASE_URL: ${VITE_API_BASE_URL:-http://localhost:8080/api}
    ports:
      - "5173:5173"
    restart: always
    networks:
      - app-network

networks:
  app-network:
    external: true
